<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <title>BADMIN</title>
    <base href="/">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

    <link rel='stylesheet' href='/stylesheets/style.css'/>

</head>
<body>
<badmin-app currentLeague="{{currentLeague}}" currentSeason="{{currentSeason}}" seasons="{{seasons}}">Loading...</badmin-app>

<script src="/js/app/bundle.js"></script>

</body>
</html>
