body {
  background-color:#333;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.hide { text-indent:-10000px; }
.header .logo {
  width:272px;
  height:104px;
  margin-left:54px;
}

.top {
	background-color:#f8f7f6;
	color:#333;
}

.row.auth {
	background-color:#333;
	color:#fff;
}

.header, .footer {
	background-color:#ffd400;
}

.main {
  padding:20px 0px;
}

a {
  color: #00B7FF;
  cursor: pointer;
}

a:hover,
a:active {
  color: #00B7FF;
  text-decoration: underline;
}

a.danger {
  color: red;
}

.format-X { background-color:#A5BE00; color:#fff;}
.format-L { background-color:#FF5964; color:#fff;}
.format-M { background-color:#35A7FF; color:#fff;}
.spacing {
  margin-bottom: 20px;
}

.right {text-align:right;}
.centre {text-align:center;}


input.ng-invalid.ng-touched {
  border: 1px solid red;
}

#topnav li.nav-item { margin-right:1px; }
#topnav li.nav-item a.nav-link { background-color:#333; color:#fff; }
#topnav li.nav-item.active a.nav-link { background-color:#f8f7f6; color:#333; }


.admin-header { background-color:#ffd400; padding-top:5px; }
.admin-header li.nav-item { margin-right:1px; }
.admin-header li.nav-item a.nav-link { background-color:#333; color:#fff; }
.admin-header li.nav-item.active a.nav-link { background-color:#f8f7f6; color:#333; }

.date {
  width:14.28%;
  float:left;
  height:100px;
  border:1px solid #ccc;
}

.division {
  width:100%;
  border:1px solid #ccc;
}
