body {
  background-color:#333;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.hide { text-indent:-10000px; }
.header .logo {
  width:272px;
  height:104px;
  margin-left:54px;
}

.top {
	background-color:#f8f7f6;
	color:#333;
}

.row.auth {
	background-color:#333;
	color:#fff;
}

.header, .footer {
	background-color:#ffd400;
}

.main {
  padding:20px 0px;
}

a {
  color: #00B7FF;
  cursor: pointer;
}

a:hover,
a:active {
  color: #00B7FF;
  text-decoration: underline;
}

a.danger {
  color: red;
}

.spacing {
  margin-bottom: 20px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}

#topnav li.nav-item { margin-right:1px; }
#topnav li.nav-item a.nav-link { background-color:#333; }
#topnav li.nav-item.active a.nav-link { background-color:#f8f7f6; }


.date {
  width:14.28%;
  float:left;
  height:100px;
  border:1px solid #ccc;
}

