body {
  background-color:#333;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.top {
	background-color:#f8f7f6;
	color:#333;
}

.row.auth {
	background-color:#333;
	color:#fff;
}

.header, .footer {
	background-color:#ffd400;
}

.main {
  padding:20px 0px;
}

a {
  color: #00B7FF;
  cursor: pointer;
}

a:hover,
a:active {
  color: #00B7FF;
  text-decoration: underline;
}

a.danger {
  color: red;
}

.spacing {
  margin-bottom: 20px;
}

input.ng-invalid.ng-touched {
  border: 1px solid red;
}
